<div class="global-footer-wrapper">
  <span class="made-in-and-by">Made in India by <span class="github-profile-url" (click)="gotoSayantanGithub()">Sayantan
      Ghosh</span></span>

  <span class="right-area">
    <span class="download-page" (click)="gotoDownloadPage()">Download</span>
    <span class="bullet-mark"></span>
    <span class="code-github-page" (click)="gotoProjetGithubPage()">Code</span>
    <span class="bullet-mark"></span>
    <span class="download-page" (click)="gotoAboutPage()">About</span>
  </span>
</div>