.tabbed-navbar-wrapper {
    position: absolute;
    top: 5px;
    left: 5px;
    width: calc(70% - 5px);
    height: 40px;
    background: #444555;
    overflow-y: hidden;
    overflow-x: auto;
}

.tab-group {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 40px;
}

.tab {
    position: relative;
    top: 0;
    width: 100px;
    margin-right: 82px;
    background: #333444;
    padding: 0 10px;
    height: 40px;
}

.tab:last-of-type {
    position: relative;
    top: 0;
    width: 100px;
    margin-right: 71px;
    background: #333444;
    padding: 0 10px;
    height: 40px;
}

.tab-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 72px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #fff;
    background: #333444;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding-top: 8px;
    padding-left: 8px;
    margin-bottom: 10px;
    height: 40px;
}

.close-tab-button {
    position: absolute;
    top: 0;
    left: 80px;
    width: 12px;
    text-align: center;
    color: #fff;
    background: #333444;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding-top: 8px;
    padding-right: 8px;
    margin-bottom: 10px;
    height: 40px;
}

.close-tab-button:hover {
    font-weight: bold;
    cursor: pointer;
}

.close-tab-button::before {
    content: "\00d7";
}

.tab-selected * {
    background: #111222;
}